In [31]:
## 선형회귀

In [4]:
## 1.데이터
import pandas as pd
# 데이터 불러오기
data = pd.read_csv('house_price.csv', encoding = 'utf-8')
data.tail()

       housing_age  income  bedrooms  households     rooms  house_value
17684           34  2.3013  0.214583    2.748299  4.897959        26600
17685           33  2.6750  0.246622    3.428571  4.698413        22500
17686           39  2.3667  0.340771    1.876812  3.572464        17500
17687           19  2.1000  0.386107    2.987805  3.774390        14999
17688           16  1.6607  0.286275    2.236842  6.710526        14999

In [5]:
# 변수별 통계 확인
data.describe()

,housing_age,income,bedrooms,households,rooms,house_value
count,17689.000000,17689.000000,17689.000000,17689.000000,17689.000000,17689.000000
mean,27.378823,3.671141,0.213278,2.952117,5.244001,189043.439313
std,11.280230,1.525937,0.051167,0.731573,1.184922,95487.122628
min,1.000000,0.499900,0.100000,0.750000,1.640000,14999.000000
25%,18.000000,2.532900,0.177464,2.470270,4.426829,114400.000000
50%,28.000000,3.453900,0.204104,2.854962,5.190779,171100.000000
75%,36.000000,4.591800,0.240157,3.316092,5.953728,242700.000000
max,51.000000,9.905500,0.498127,6.954023,11.901869,500000.000000

In [112]:
## 2.데이터 전처리
# x,y 데이터 분할
x1 = data[['housing_age', 'income', 'bedrooms', 'households', 'rooms']]
y1 = data[['house_value']]
print('x1', x1.tail())
print('y1', y1.tail())

x1        housing_age  income  bedrooms  households     rooms
17684           34  2.3013  0.214583    2.748299  4.897959
17685           33  2.6750  0.246622    3.428571  4.698413
17686           39  2.3667  0.340771    1.876812  3.572464
17687           19  2.1000  0.386107    2.987805  3.774390
17688           16  1.6607  0.286275    2.236842  6.710526
y1        house_value
17684        26600
17685        22500
17686        17500
17687        14999
17688        14999

In [113]:
# train, test로 데이터 분할
from sklearn.model_selection import train_test_split
x1_train, x1_test, y1_train, y1_test = train_test_split(x1,y1, random_state = 1)
print(y1_train.mean())
print(y1_test.mean())

house_value    189198.688226
dtype: float64
house_value    188577.797875
dtype: float64

In [40]:
## 정규화
from sklearn.preprocessing import StandardScaler

In [61]:
# train 데이터 정규화
standard_scaler = StandardScaler()
standard_scaler.fit(x1_train)
x1_train_standard_scale = standard_scaler.transform(x1_train)

In [46]:
# standard 방법으로 정규화한 데이터의 기술통계량 확인
pd.DataFrame(x1_train_standard_scale).describe()

                  0             1             2             3             4
count  1.326600e+04  1.326600e+04  1.326600e+04  1.326600e+04  1.326600e+04
mean  -5.826453e-17 -2.522502e-17  5.791304e-17  5.854071e-16  5.681336e-16
std    1.000038e+00  1.000038e+00  1.000038e+00  1.000038e+00  1.000038e+00
min   -2.349918e+00 -2.072498e+00 -2.195848e+00 -3.005221e+00 -3.038316e+00
25%   -8.380196e-01 -7.524962e-01 -6.989694e-01 -6.611210e-01 -6.888916e-01
50%    5.133250e-02 -1.463823e-01 -1.798046e-01 -1.302303e-01 -4.440620e-02
75%    7.628142e-01  6.128360e-01  5.181721e-01  4.976055e-01  6.041656e-01
max    2.096842e+00  4.071007e+00  5.515037e+00  5.466011e+00  5.616000e+00

In [64]:
# test 데이터 정규화
x1_test_standard_scale = standard_scaler.transform(x1_test)

In [66]:
# standard 방법으로 정규화한 데이터의 기술통계량 확인
pd.DataFrame(x1_test_standard_scale).describe()

                 0            1            2            3            4
count  4423.000000  4423.000000  4423.000000  4423.000000  4423.000000
mean     -0.015645    -0.004487    -0.007567     0.006567     0.004428
std       1.012687     0.986744     0.963453     0.995660     0.997192
min      -2.349918    -2.072498    -1.897880    -2.541970    -2.975668
25%      -0.838020    -0.722287    -0.683391    -0.644889    -0.683049
50%       0.051332    -0.136944    -0.177326    -0.133829    -0.039462
75%       0.762814     0.572927     0.520485     0.499884     0.589800
max       2.096842     3.939196     5.227527     5.030378     5.383241

In [52]:
## 3.데이터 분석
## 모델 학습
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()
model1.fit(x1_train_standard_scale, y1_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [56]:
# train 예측
pred_train = model1.predict(x1_train_standard_scale)
model1.score(x1_train_standard_scale, y1_train) # R2

0.5703486808769582

In [67]:
# test 예측
pred_test = model1.predict(x1_test_standard_scale)
model.score(x1_test_standard_scale, y1_test) # R2

0.5836850955113921

In [114]:
## 4.결과 저장
# 예측 데이터 합치기
y1_train['pred'] = pred_train
y1_test['pred'] = pred_test

# 분석데이터와 결과 데이터 합치기
data_train = pd.concat([x1_train, y1_train], axis = 1)
data_test = pd.concat([x1_test, y1_test], axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [115]:
# train 과 test 합치기
data_pre = pd.concat([data_train, data_test], axis = 0)
data_pre.tail()

In [118]:
# csv 파일로 저장하기
data_pre.to_csv("regression_test02.csv")