In [1]:
# Outlier 추출 후 합계: 31707
# 50% +_ 1.5 * 범위(75%-25%)

In [4]:
import pandas as pd
data1 = pd.read_csv('house_price.csv', encoding = 'utf-8')
data1.tail()

SyntaxError: invalid syntax (<ipython-input-4-bcd1513132bc>, line 4)

In [6]:
des1 = data1.describe()
des1

,housing_age,income,bedrooms,households,rooms,house_value
count,17689.000000,17689.000000,17689.000000,17689.000000,17689.000000,17689.000000
mean,27.378823,3.671141,0.213278,2.952117,5.244001,189043.439313
std,11.280230,1.525937,0.051167,0.731573,1.184922,95487.122628
min,1.000000,0.499900,0.100000,0.750000,1.640000,14999.000000
25%,18.000000,2.532900,0.177464,2.470270,4.426829,114400.000000
50%,28.000000,3.453900,0.204104,2.854962,5.190779,171100.000000
75%,36.000000,4.591800,0.240157,3.316092,5.953728,242700.000000
max,51.000000,9.905500,0.498127,6.954023,11.901869,500000.000000

In [11]:
des1['income']['75%']

4.5918

In [13]:
up1 = des1['income']['50%'] + 1.5*(des1['income']['75%'] - des1['income']['25%'])
up1

6.54225

In [14]:
down1 = des1['income']['50%'] - 1.5*(des1['income']['75%'] - des1['income']['25%'])
down1

0.3655499999999998

In [44]:
fin1 = data1[(data1['income'] > up1)|(data1['income'] < down1)]['income']
fin2 = fin1.sum()

In [45]:
fin2

6439.9699

In [48]:
fin11 = data1[data1['income'] > up1]['income'].sum()
fin11

6439.9699

In [49]:
fin12 = data1[data1['income'] < down1]['income'].sum()
fin12

0.0

In [50]:
fin13 = fin11 + fin12
fin13

6439.9699

In [52]:
fin21 = data1[(data1['income'] < up1)&(data1['income'] > down1)]['income']
fin22 = fin21.sum()
fin22

58498.842300000004