In [20]:
a = [1,2,3]
# A = [-3, -1]
A = [1,2, 3]

In [5]:
A = [-3, -1]
    
    for i in range(len(A)):
        if i not in A:
            result = i
        elif:
            num_max = i
    
    if result == 0 and num_max > 0:
        result = num_max + 1
    elif:
        result = 1
    # pass

    # print(A)
    return result

In [21]:
i,num_max,result = 0,0,0
for i in range(len(A)):
    if i not in A:
        result = i
    elif i in A:
        num_max = i
        
if result == 0 and num_max > 0:
    result = num_max + 1
elif result == 0:
    result = 1

print(num_max)
print(result)

2
3

In [22]:
max(A)

3

In [23]:
a = ['2016-02-29 22:13:11', '2016-02-29 22:13:11', '2016-02-29 22:13:11', '2016-02-29 22:13:11', '2016-02-29 22:13:11', '2016-02-29 22:13:11', '2016-02-29 22:13:11', '2016-02-29 22:13:11', '2016-02-29 22:13:11', '2016-02-29 22:13:11']

In [24]:
a.sort()

In [25]:
a

['2016-02-29 22:13:11',
 '2016-02-29 22:13:11',
 '2016-02-29 22:13:11',
 '2016-02-29 22:13:11',
 '2016-02-29 22:13:11',
 '2016-02-29 22:13:11',
 '2016-02-29 22:13:11',
 '2016-02-29 22:13:11',
 '2016-02-29 22:13:11',
 '2016-02-29 22:13:11']

In [27]:

i = 0;
for i in range(5):
    print(i)
print(i)

0
1
2
3
4
4