In [4]:
import numpy as np
import pandas as pd

x = np.array([1., 2., 3.])
print(x)

[1. 2. 3.]

In [13]:
df_left = pd.DataFrame({'KEY': ['K0', 'K1', 'K2', 'K3'],

   'A': ['A0', 'A1', 'A2', 'A3'],

   'B': ['B0', 'B1', 'B2', 'B3']})
print("df_left"); print(df_left);

df_right = pd.DataFrame({'KEY': ['K2', 'K3', 'K4', 'K5'],

   'C': ['C2', 'C3', 'C4', 'C5'],

   'D': ['D2', 'D3', 'D4', 'D5']})
print("df_right"); print(df_right);

df_left
  KEY   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3
df_right
  KEY   C   D
0  K2  C2  D2
1  K3  C3  D3
2  K4  C4  D4
3  K5  C5  D5

In [14]:

df_right

  KEY   C   D
0  K2  C2  D2
1  K3  C3  D3
2  K4  C4  D4
3  K5  C5  D5

In [15]:
# 1..left
df_merge_how_left = pd.merge(df_left, df_right,

   how='left',

   on='KEY')
print(df_merge_how_left)

  KEY   A   B    C    D
0  K0  A0  B0  NaN  NaN
1  K1  A1  B1  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

In [17]:
# 2.right
df_merge_how_right = pd.merge(df_left, df_right,

   how='right',

   on='KEY')
print(df_merge_how_right)

  KEY    A    B   C   D
0  K2   A2   B2  C2  D2
1  K3   A3   B3  C3  D3
2  K4  NaN  NaN  C4  D4
3  K5  NaN  NaN  C5  D5

In [19]:
# 3.inner
df_merge_how_inner = pd.merge(df_left, df_right,

    how='inner', # default

    on='KEY')
print(df_merge_how_inner)

  KEY   A   B   C   D
0  K2  A2  B2  C2  D2
1  K3  A3  B3  C3  D3

In [20]:
# 4.outer
df_merge_how_outer = pd.merge(df_left, df_right,

    how='outer',

    on='KEY')
print(df_merge_how_outer)

  KEY    A    B    C    D
0  K0   A0   B0  NaN  NaN
1  K1   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K4  NaN  NaN   C4   D4
5  K5  NaN  NaN   C5   D5

In [26]:
# 5. indicator
df_merge_indi = pd.merge(df_left, df_right,

    how='outer',

    on='KEY',
    indicator = True)
print(df_merge_indi)

df_merge_indi2 = pd.merge(df_left, df_right,

    how='outer',

    on='KEY',
    indicator = 'indi')
print("df_merge_indi2"); print(df_merge_indi2);

  KEY    A    B    C    D      _merge
0  K0   A0   B0  NaN  NaN   left_only
1  K1   A1   B1  NaN  NaN   left_only
2  K2   A2   B2   C2   D2        both
3  K3   A3   B3   C3   D3        both
4  K4  NaN  NaN   C4   D4  right_only
5  K5  NaN  NaN   C5   D5  right_only
df_merge_indi2
  KEY    A    B    C    D        indi
0  K0   A0   B0  NaN  NaN   left_only
1  K1   A1   B1  NaN  NaN   left_only
2  K2   A2   B2   C2   D2        both
3  K3   A3   B3   C3   D3        both
4  K4  NaN  NaN   C4   D4  right_only
5  K5  NaN  NaN   C5   D5  right_only

In [ ]:
# 5. indicator
# 4.outer
df_merge_indi = pd.merge(df_left, df_right,

    how='outer',

    on='KEY',
    indicator = True)
print(df_merge_indi)

In [34]:
df_left_2 = pd.DataFrame({'KEY': ['K0', 'K1', 'K2', 'K3'],

    'A': ['A0', 'A1', 'A2', 'A3'],

    'B': ['B0', 'B1', 'B2', 'B3'],

    'C': ['C0', 'C1', 'C2', 'C3']})
df_right_2 = pd.DataFrame({'KEY': ['K0', 'K1', 'K2', 'K3'],

    'B': ['B0_2', 'B1_2', 'B2_2', 'B3_2'],

    'C': ['C0_2', 'C1_2', 'C2_2', 'C3_2'],

    'D': ['D0_2', 'D1_2', 'D2_2', 'D3_3']})

df_merge_suf1 = pd.merge(df_left_2, df_right_2, how='inner', on='KEY')
df_merge_suf2 = pd.merge(df_left_2, df_right_2, how='inner', on='KEY',
    suffixes=('_left', '_right'))

print("df_merge default"); print(df_merge_suf1);
print("df_merge_suf"); print(df_merge_suf2);

df_merge default
  KEY   A B_x C_x   B_y   C_y     D
0  K0  A0  B0  C0  B0_2  C0_2  D0_2
1  K1  A1  B1  C1  B1_2  C1_2  D1_2
2  K2  A2  B2  C2  B2_2  C2_2  D2_2
3  K3  A3  B3  C3  B3_2  C3_2  D3_3
df_merge_suf
  KEY   A B_left C_left B_right C_right     D
0  K0  A0     B0     C0    B0_2    C0_2  D0_2
1  K1  A1     B1     C1    B1_2    C1_2  D1_2
2  K2  A2     B2     C2    B2_2    C2_2  D2_2
3  K3  A3     B3     C3    B3_2    C3_2  D3_3

In [38]:
# DataFrame을 index 기준으로 합치기 (merge, join on index)

df_left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],

   'B': ['B0', 'B1', 'B2', 'B3']},

   index=['K0', 'K1', 'K2', 'K3'])

df_right = pd.DataFrame({'C': ['C2', 'C3', 'C4', 'C5'],

   'D': ['D2', 'D3', 'D4', 'D5']},

   index=['K2', 'K3', 'K4', 'K5'])

print("df_left "); print(df_left)
print("df_right"); print(df_right)

df_left
     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
K3  A3  B3
df_right
     C   D
K2  C2  D2
K3  C3  D3
K4  C4  D4
K5  C5  D5

In [41]:
# (1) index를 기준으로 Left Join 하기 (Left join on index)
# Left joining on index

# way 1 : by merge()
pd.merge(df_left, df_right,
   left_index=True, right_index=True,

   how='left')

     A   B    C    D
K0  A0  B0  NaN  NaN
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2
K3  A3  B3   C3   D3

In [42]:
# way 2 : by join
df_left.join(df_right, how='left')

     A   B    C    D
K0  A0  B0  NaN  NaN
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2
K3  A3  B3   C3   D3

In [43]:
# (2) index를 기준으로 Right Join 하기 (Right join on index)
# Right join on index

# way 1 : merge()
pd.merge(df_left, df_right,

   left_index=True, right_index=True,

   how='right')

      A    B   C   D
K2   A2   B2  C2  D2
K3   A3   B3  C3  D3
K4  NaN  NaN  C4  D4
K5  NaN  NaN  C5  D5

In [44]:
# way 2 : join()
df_left.join(df_right, how='right')

      A    B   C   D
K2   A2   B2  C2  D2
K3   A3   B3  C3  D3
K4  NaN  NaN  C4  D4
K5  NaN  NaN  C5  D5

In [28]:
# [Python pandas] DataFrame 결측값 여부 확인, 결측값 개수
# isnull(), notnull(), df.isnull().sum(), df.notnull().sum(), df.isnull().sum(1), df.notnull().sum(1)

# making DataFrame with missing values

df_left = pd.DataFrame({'KEY': ['K0', 'K1', 'K2', 'K3'],

   'A': ['A0', 'A1', 'A2', 'A3'],

   'B': [0.5, 2.2, 3.6, 0.4]})
df_right = pd.DataFrame({'KEY': ['K2', 'K3', 'K4', 'K5'],

   'C': ['C2', 'C3', 'C4', 'C5'],

   'D': ['D2', 'D3', 'D4', 'D5']})

df_all = pd.merge(df_left, df_right, how='outer', on='KEY')

print("df_all "); print(df_all)

df_all
  KEY    A    B    C    D
0  K0   A0  0.5  NaN  NaN
1  K1   A1  2.2  NaN  NaN
2  K2   A2  3.6   C2   D2
3  K3   A3  0.4   C3   D3
4  K4  NaN  NaN   C4   D4
5  K5  NaN  NaN   C5   D5

In [47]:
pd.isnull(df_all)

     KEY      A      B      C      D
0  False  False  False   True   True
1  False  False  False   True   True
2  False  False  False  False  False
3  False  False  False  False  False
4  False   True   True  False  False
5  False   True   True  False  False

In [51]:
df_all.isnull()

     KEY      A      B      C      D
0  False  False  False   True   True
1  False  False  False   True   True
2  False  False  False  False  False
3  False  False  False  False  False
4  False   True   True  False  False
5  False   True   True  False  False

In [50]:
pd.notnull(df_all)

    KEY      A      B      C      D
0  True   True   True  False  False
1  True   True   True  False  False
2  True   True   True   True   True
3  True   True   True   True   True
4  True  False  False   True   True
5  True  False  False   True   True

In [52]:
df_all.notnull()

    KEY      A      B      C      D
0  True   True   True  False  False
1  True   True   True  False  False
2  True   True   True   True   True
3  True   True   True   True   True
4  True  False  False   True   True
5  True  False  False   True   True

In [14]:
df_all.isnull()

     KEY      A      B      C      D
0  False   True   True   True   True
1  False   True   True   True   True
2  False  False  False  False  False
3  False  False  False  False  False
4  False   True   True  False  False
5  False   True   True  False  False

In [13]:
df_all.loc[[0, 1], ['A', 'B']] = None
df_all

  KEY     A    B    C    D
0  K0  None  NaN  NaN  NaN
1  K1  None  NaN  NaN  NaN
2  K2    A2  3.6   C2   D2
3  K3    A3  0.4   C3   D3
4  K4   NaN  NaN   C4   D4
5  K5   NaN  NaN   C5   D5

In [21]:
print(df_all.isnull())
df_all.isnull().sum()

     KEY      A      B      C      D
0  False   True   True   True   True
1  False   True   True   True   True
2  False  False  False  False  False
3  False  False  False  False  False
4  False   True   True  False  False
5  False   True   True  False  False

KEY    0
A      4
B      4
C      2
D      2
dtype: int64

In [22]:
df_all['A'].isnull().sum()

4

In [24]:
# 칼럼별 결측값이 아닌 값의 개수
df_all.notnull().sum()

KEY    6
A      2
B      2
C      4
D      4
dtype: int64

In [29]:
#  (4) 행(row) 단위로 결측값 개수 구하기 : df.isnull().sum(1)
#      행(row) 단위로 실측값 개수 구하기 : df.notnull().sum(1)
df_all2 = df_all
df_all2['NaN_cnt'] = df_all.isnull().sum(1)
df_all2['NotNull_cnt'] = df_all.notnull().sum(1)
df_all2

  KEY    A    B    C    D  NaN_cnt  NotNull_cnt
0  K0   A0  0.5  NaN  NaN        2            4
1  K1   A1  2.2  NaN  NaN        2            4
2  K2   A2  3.6   C2   D2        0            6
3  K3   A3  0.4   C3   D3        0            6
4  K4  NaN  NaN   C4   D4        2            4
5  K5  NaN  NaN   C5   D5        2            4

In [30]:
df_all['NaN_cnt'] = df_all.isnull().sum(1)
df_all['NotNull_cnt'] = df_all.notnull().sum(1)
df_all

  KEY    A    B    C    D  NaN_cnt  NotNull_cnt
0  K0   A0  0.5  NaN  NaN        2            5
1  K1   A1  2.2  NaN  NaN        2            5
2  K2   A2  3.6   C2   D2        0            7
3  K3   A3  0.4   C3   D3        0            7
4  K4  NaN  NaN   C4   D4        2            5
5  K5  NaN  NaN   C5   D5        2            5

In [47]:
# [Python pandas] 결측값 연산 (calculations with missing data)
df = pd.DataFrame(np.arange(10).reshape(5,2),

   index=['a', 'b', 'c', 'd', 'e'],

   columns=['C1', 'C2'])
print("df before \n",df)
df.loc[['b','e'], ['C1']] = None
df.loc[['b','c'], ['C2']] = None
print("df after \n",df)

df before
    C1  C2
a   0   1
b   2   3
c   4   5
d   6   7
e   8   9
df after
     C1   C2
a  0.0  1.0
b  NaN  NaN
c  4.0  NaN
d  6.0  7.0
e  NaN  9.0

In [48]:
print(df.sum())

C1    10.0
C2    17.0
dtype: float64

In [50]:
df['C1'].sum()

10.0

In [51]:
df['C1'].cumsum()

a     0.0
b     NaN
c     4.0
d    10.0
e     NaN
Name: C1, dtype: float64

In [57]:
print("컬럼별 mean \n", df.mean())
print("행별 \n", df.mean(1))
print("컬럼별 std \n", df.std())
print("행별 \n", df.std(1))

컬럼별 mean
 C1    3.333333
C2    5.666667
dtype: float64
행별
 a    0.5
b    NaN
c    4.0
d    6.5
e    9.0
dtype: float64
컬럼별 std
 C1    3.055050
C2    4.163332
dtype: float64
행별
 a    0.707107
b         NaN
c         NaN
d    0.707107
e         NaN
dtype: float64