In [3]:
## 1강.시작하기
print('hello word')
print("hello word")

hello word
hello word

In [5]:
## 2강.객체와 변수
# 정수형 int
score = 23
print(score)
type(score)

23

int

In [8]:
# 부울형 (bool)
a = True; print(a)
x=1; y=x>0; print(y)

True
True

In [12]:
# 리스트
scores = [80,90,85,93,78]
print(scores)
print(type(scores))
id(scores)

[80, 90, 85, 93, 78]
<class 'list'>

70451648

In [14]:
# 튜플
data = (3,6,5,9)
print(data)
print(type(data))
id(data)

(3, 6, 5, 9)
<class 'tuple'>

70605440

In [17]:
# 집합
primes = {3,6,5,9}
print(primes)
print(type(primes))
id(primes)
primes2 = {3,6,5,9,3}
print(primes2)

{9, 3, 5, 6}
<class 'set'>
{9, 3, 5, 6}

In [23]:
# 사전
count = {1:35, 2:32, 3:30, 4:33}
print(count)

print(type(count))

print(id(count))

print(count[4])

{1: 35, 2: 32, 3: 30, 4: 33}
<class 'dict'>
70492640
33

In [25]:
## 3강.수치 자료형과 연산자
# 정수 객체는 immutable
a = 10; print(id(a))
b = 20; print(id(b))

1827726144
1827726304

In [6]:
# 4_자료형 변환
a = int(5.6); print(a)
b = int(-2.9); print(b)
print(int('15'))

score = '85'
print(score + 5)

5
-2
15

TypeError: can only concatenate str (not "int") to str

In [11]:
# 5_수치 연산 함수들
print(b); print(abs(b))
print(divmod(a,b))
print(pow(2,5))

-2
2
(-3, -1)
32

In [12]:
# 6_math 모듈
import math

In [19]:
print(math.fabs(-3))
print(math.pow(2, 5))
print(math.sqrt(25))
print(math.floor(25.5)) # x보다 작은 가장 큰수
print(math.ceil(25.5)) # x보가 큰 가장 작은수

3.0
32.0
5.0
25
26

In [25]:
## 4장 문자열 자료형
# 1_문자열 생성하기

# 2_문자열 인덱싱 / 슬라이싱
greeting = 'hello world'
print(greeting[7])
print(greeting[0])
#greeting[0] = 'H'
id(greeting[0])

o
h

3383680

In [31]:
lang = 'python programming'
lang[3:10]
lang[:10]
lang[-10:-13]
lang[-13:-10]

'n p'

In [35]:
# 3_문자열 연결/반복
a = 'hello'; b = 'world'; c = 95;
print(a+b)
# print(a+c+b)
print(a+str(c)+b)

helloworld
hello95world

In [39]:
# 4_문자열 길이 / 포함관계
subject = 'programming'; print(len(subject))

# 5_문자열 메소드
dir(str)

11

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [52]:
name = 'steve qweve'
name2 = name.upper()
print(name2)
print(name2.lower())
print(name.isupper())
print(name.islower())
print(name.capitalize())
print(name.title())
print(name.count('e'))
print(name.count('ev'))
print(name.count('ev',1,5))

STEVE QWEVE
steve qweve
False
True
Steve qweve
Steve Qweve
4
2
1

In [60]:
print(name.find('e'))
print(name.find('e',3))

friends = ['alice', 'tom', 'sam']
dash = '-'
dash.join(friends)
space = ' '
friends2 = space.join(friends)
print(friends2)

2
4
alice tom sam

In [63]:
friends2.split()

date = '2016/12/25'
date.split('/')

['2016', '12', '25']

In [75]:
## 5강. 파이썬 입출력문
print(dash,friends)
print('dash','friends')
print('dash' + 'friends')
print('dash \
friends')
print('dash \'q\'q')
print('dash \\q')
print('dash \nqqq \tnn')

- ['alice', 'tom', 'sam']
dash friends
dashfriends
dash friends
dash 'q'q
dash \q
dash
qqq 	nn

In [79]:
# 3.%이용한서식출력
name = 'Alice' ; score = 95
print('%sgot %dscore' %(name, score))
# print('%dgot %dscore' %(name, score))

Alicegot 95score

In [81]:
math_score= 87.3
print('You got %f in math' %(math_score))
print('You got %d in math' %(math_score))

You got 87.300000 in math
You got 87 in math

In [82]:
math = 93.5 ; eng= 88.3
print('Math is %5.2f and Engis %6.3f' %(math, eng))

print("score is %dand gpais %10.2f" %(85, 3.7))

Math is 93.50 and Engis 88.300
score is 85and gpais       3.70

In [85]:
# print() 함수느 항상 '\n'을 추가한다.
print(math, end = ' '); print(eng)

93.5 88.3

In [96]:
# input() 함수
x = input('Enter : ')

Enter : 11

In [97]:
print(x);
type(x)

11

str

In [98]:
x = input('정수를입력하시오: ')
x + 10

정수를입력하시오: 100

TypeError: can only concatenate str (not "int") to str

In [101]:
x = input('정수를입력하시오: ')
x2 = int(x) + 10
print(x2)

정수를입력하시오: 10
20

In [102]:
y = float(input('Enter one float number : '))
print('y is', y)

Enter one float number : 3.14
y is 3.14

In [108]:
## 문제1
# 세과목(국어, 수학, 영어) 성적을input()함수로입력받아 세과목의
# 총점과평균을구하는프로그램을작성하시오. 
# 평균은소수점둘째자리까지출력되도록한다.

a1 = int(input('국어 : '))
a2 = int(input('수학 : '))
a3 = int(input('영어 : '))

print('총점 :', a1+a2+a3)
print('평균 :', (a1+a2+a3)/3)

국어 : 78
수학 : 80
영어 : 90
총점 : 248
평균 : 82.66666666666667

In [116]:
## 문제2
# input() 함수를이용하여원의반지름을입력받는다. 
# 입력받은반지름으로원의넓이와원의둘레를구하여 소수 셋째자리까지 출력하는 프로그램을작성하시오. 
# 원주율을3.141592로한다.

b1 = int(input('반지름 : '))

b2 = b1**2

print('넓이 is %.3f' %(b1**2*3.14))
print('둘렙 is %.3f' %(b1*2*3.14))

반지름 : 5
넓이 is 78.500
둘렙 is 31.400

In [123]:
## 문제3.
# 다섯자리양의정수를입력받아서다음과같이각자리수를떼어서출력하는
# 프로그램을작성하시오. 항상올바르게다섯자리숫자를입력하고
# 1~9의수만입력한다고가정한다.

c1 = input('숫자 : ')
print(c1[0], ',', c1[1], ',', c1[2], ',', c1[3], ',', c1[4])

숫자 : 12345
1 , 2 , 3 , 4 , 5

In [122]:
print(b1[0], ',', b1[0])

1 , 1

4

In [ ]:
b1 = 2
b2 = b1**2
print(b2)