In [ ]:
# 통계데이터분석 - 신뢰도
# https://www.youtube.com/watch?v=v9NikIxAstY&list=PLY0OaF78qqGAxKX91WuRigHpwBU0C2SB_&index=2

In [ ]:
ㅁ 신뢰도
 - 측정척도의  신뢰도란 측정척도가 측정하려고 의도하는것을 얼마나 정확하게 오차 없이 측정하고 있는지를 나타냄
 - 동일한 개념(또는 개상)을 유사한 척도로 측정할 경우 일관된 결과를 산출하는 정도
  . 신뢰도가 높다는 것은 동일한 개념을 측정하기 위해 고안된 서로 다른 측정도구가 같은 결과를 산출한다는 것을 의미
  . 또는 동일한 측정도구를 이용하는 시간 간격을 두고 측정하였을 때 두 결과의 일치도가 높다는 의미

In [ ]:
ㅁ 신뢰도 지표
ㅁ 크론바흐 알파계수
 - 하나의 개념을 여러 측정항목으로 측정할 때 나타나는 항목 간의 일관성이나 동질성의 정도를 나타내며 이를 내적일관성이라고 함
 - 0에서 1 사이의 값을 가지며 클수록 측정항목의 신뢰도가 높음
 - 0.8 이상 : 바람직, 0.6~0.8 : 수용할만, 0.6 이하 : 신뢰도 결어

2.093024054408263
-2.0930240544082634

In [48]:
# !pip install factor-analyzer
from factor_analyzer import FactorAnalyzer
import pandas as pd
import numpy as np
import pingouin as pg

c:\Users\신주현\AppData\Local\Programs\Python\Python37\lib\site-packages\outdated\utils.py:18: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.5.2, the latest is 0.5.3.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  **kwargs

In [47]:
data = {'0' :[20,21,22,33],
        '1' :[19,24,25,37],
        '2' :[30,32,34,36] }

df = pd.DataFrame(data)
df

    0   1   2
0  20  19  30
1  21  24  32
2  22  25  34
3  33  37  36

In [49]:
pg.cronbach_alpha(data = df)
# 신뢰도, 신뢰구간
# 신뢰도가 매우 높음

(0.9022556390977443, array([0.355, 0.993]))

In [70]:
data2 = {'0' :[20,21,22,63],
        '1' :[9,24,29,29],
        '2' :[1,12,34,20] }

df2 = pd.DataFrame(data2)
df2

    0   1   2
0  20   9   1
1  21  24  12
2  22  29  34
3  63  29  20

In [71]:
pg.cronbach_alpha(data = df2)
# 신뢰도가 0.63으로 수용할만함

(0.6319259456579648, array([-1.429,  0.975]))