In [ ]:
# 0카이제곱 검정
# https://lunch-box.tistory.com/90

In [1]:
# A.카이제곱 검정(독립성)
# 주로 2개의 명목형 변수를 대상으로 연관성에 대해 검정을 할 때 사용합니다.
# ㅁ 가정
# 1. 독립성 가정(한 명의 대상에게서 하나의 결과값을 얻어야 함)
# 2. 기대 빈도가 5미만인 셀은 전체 셀의 20% 미만이어야 한다.
# ㅁ 가설
# 귀무가설 : 두 변수는 서로 독립적이다. (=연관이 없다.)
# 대립가설 : 두 변수는 서로 독립적이지 않다. (=연관이 있다.)

In [1]:
import pandas as pd
df = pd.read_csv('C:/adp/data/chisquare.csv')
df.tail()

    country  movie
85        3      3
86        3      1
87        3      2
88        3      1
89        3      3

In [2]:
df.groupby(['country', 'movie'])['movie'].count()

country  movie
1        1        12
         2         9
         3         9
2        1         8
         2        18
         3         4
3        1         4
         2         2
         3        24
Name: movie, dtype: int64

In [3]:
df2 = [ [12,9,9], [8,18,4], [4,2,24] ]
df2

[[12, 9, 9], [8, 18, 4], [4, 2, 24]]

In [4]:
from scipy.stats import chi2_contingency
chi, p, df, expect = chi2_contingency(df2)
print(chi, p, df, expect )
# 독립성 검정결과 p-value가 유의수준 0.05보다 작으므로 귀무가설을 기긱한다. 
# country, movie는 유의수준 0.05하에서 독립이 아니라고 할 수 있다.

34.87791239515377 4.921459163940145e-07 4 [[ 8.          9.66666667 12.33333333]
 [ 8.          9.66666667 12.33333333]
 [ 8.          9.66666667 12.33333333]]

In [9]:
import pingouin as pg
expected, observed, stats = pg.chi2_independence(df, x='country', y='movie')
stats # pearson으로 확인하면 된다.
# 독립성 검정결과 pval 4.921459e-07로 유의수준 0.05보다 작으므로 귀무가설을 기긱한다. 
# country, movie는 유의수준 0.05하에서 독립이 아니라고 할 수 있다.

c:\Users\신주현\AppData\Local\Programs\Python\Python37\lib\site-packages\pingouin\contingency.py:150: UserWarning: Low count on observed frequencies.
  warnings.warn("Low count on {} frequencies.".format(name))

,test,lambda,chi2,dof,pval,cramer,power
0,pearson,1.000000,34.877912,4.0,4.921459e-07,0.440189,0.935548
1,cressie-read,0.666667,34.848447,4.0,4.990512e-07,0.440003,0.935337
2,log-likelihood,0.000000,36.254719,4.0,2.564737e-07,0.448793,0.944723
3,freeman-tukey,-0.500000,38.926877,4.0,7.212978e-08,0.465038,0.959237
4,mod-log-likelihood,-1.000000,43.550672,4.0,7.953469e-09,0.491882,0.976388
5,neyman,-2.000000,62.896605,4.0,7.134569e-13,0.591122,0.998058

In [10]:
print(expected)

movie      1         2          3
country
1        8.0  9.666667  12.333333
2        8.0  9.666667  12.333333
3        8.0  9.666667  12.333333

In [11]:
observed

movie     1   2   3
country
1        12   9   9
2         8  18   4
3         4   2  24