In [ ]:
# 17분산분석 - 다변량 분산분석
# https://www.youtube.com/watch?v=ovNU9MzKTW0&list=PLY0OaF78qqGAxKX91WuRigHpwBU0C2SB_&index=17

In [1]:
# ㅁ 다변량 분산분석
#  - 두개 이상의 종속변수가 있을 경우 집단별 차이를 동시에 검정
#  - 연구의 타당성 증대

In [3]:
import pandas as pd
import numpy as np
import pingouin as pg
df = pd.read_csv('C:/adp/data/skulls.csv')
df.tail()

      MB   BH   BL  NH  Year
145  137  125   85  57   150
146  129  128   81  52   150
147  140  135  103  48   150
148  147  129   87  48   150
149  136  133   97  51   150

In [7]:
from statsmodels.multivariate.manova import MANOVA
print(MANOVA.from_formula('MB + BH + BL + NH ~ Year', data = df).mv_test())
# Intercept 는 Pr > F가 유의수준 0.05보다 작으므로 차이가 있음
# Year 는 Pr > F가 유의수준 0.05보다 작으므로 차이가 있음

                    Multivariate linear model
==================================================================

------------------------------------------------------------------
       Intercept         Value   Num DF  Den DF   F Value   Pr > F
------------------------------------------------------------------
          Wilks' lambda   0.0012 4.0000 145.0000 30141.3582 0.0000
         Pillai's trace   0.9988 4.0000 145.0000 30141.3582 0.0000
 Hotelling-Lawley trace 831.4857 4.0000 145.0000 30141.3582 0.0000
    Roy's greatest root 831.4857 4.0000 145.0000 30141.3582 0.0000
------------------------------------------------------------------

-------------------------------------------------------------------
           Year           Value   Num DF   Den DF   F Value  Pr > F
-------------------------------------------------------------------
           Wilks' lambda  0.7043  4.0000  145.0000  15.2187  0.0000
          Pillai's trace  0.2957  4.0000  145.0000  15.2187  0.0000
  Hotelling-Lawley trace  0.4198  4.0000  145.0000  15.2187  0.0000
     Roy's greatest root  0.4198  4.0000  145.0000  15.2187  0.0000
==================================================================