In [2]:
# A 일표본 t-test
# B 대응표본 t-test
# C 독립표본 t-test

In [ ]:
# A 일표본 t-test
# a) 단일 모집단에서 관심이 있는 연속형 변수의 평균값을 특정 기준값과 비교한다.
# b) 가정 : 모집단의 구성요소들이 정규분포를 이룬다는 가정이다.
# - 종속변수는 연속형이어야 한다.
# - 검증하고자 하는 기준값이 있어야 한다.

In [19]:
# 1. 정규성 검정
import pandas as pd
import pingouin as pg
pg.normality(x)

# 1.1 정규성 O
pg.ttest(x, mu, alternative='two-sided')

# 1.2 정규성 X
pg.wilcoxon(x-y, alternative='two-sided')

In [22]:
df = pd.read_csv('C:/adp/data/cats.csv')
df.tail()

    Sex  Bwt   Hwt
139   M  3.7  11.0
140   M  3.8  14.8
141   M  3.8  16.8
142   M  3.9  14.4
143   M  3.9  20.5

In [23]:
# 1. 정규성 검정
pg.normality(df['Bwt'])
# pval 0.000067이므로 유의수준 0.05보다 작으므로 정규분포를 따르지 않는다.

            W      pval  normal
Bwt  0.951879  0.000067   False

In [28]:
# 1.1 정규성 O
mu = 2.6
pg.ttest(df['Bwt'], mu, alternative='two-sided')
# p-val 0.002673로 유의수준 0.05보다 작으므로 평균이 2.6이라고 할 수 없다.

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,3.056487,143,two-sided,0.002673,"[2.64, 2.8]",0.254707,7.87,0.859022

In [34]:
# 1.2 정규성 X
pg.wilcoxon(df['Bwt'] - mu, alternative='two-sided')
# p-val 0.025317로 유의수준 0.05보다 작으므로 평균이 2.6이라고 할 수 없다.

           W-val alternative     p-val       RBC  CLES
Wilcoxon  3573.0   two-sided  0.025317  0.221569   NaN

In [32]:
# B 대응표본 t-test
# a) 단일모집단에 대해 어떠한 처리를 가했을 때, 처리 전후에 따른 평균의 차이를 비교할 때 사용한다.
# b) 표본 내에 개체들에 대해 두번의 측정을 한다.(같은 집단이므로 등분산성 만족)
# c) 모집단의 관측값이 정규성을 만족해야 한다는 가정이 있다.

144

In [ ]:
# 1. 정규성 검정
import pandas as pd
import pingouin as pg
pg.normality(x)

# 1.1 정규성 O
pg.ttest(x, mu, paired=True, alternative='two-sided')

# 1.2 정규성 X
pg.wilcoxon(x, y, alternative='two-sided')

In [41]:
data = {'before' : [7,3,4,5,2,1,6,6,5,4],
        'after' : [8,4,5,6,2,3,6,8,6,5] }
data = pd.DataFrame(data)
data.tail()

   before  after
5       1      3
6       6      6
7       6      8
8       5      6
9       4      5

In [43]:
# 1. 정규성 검정
import pandas as pd
import pingouin as pg
pg.normality(data)
# pval이 모두 0.05보다 크므로 정규분포를 따른다.

               W      pval  normal
before  0.964460  0.835271    True
after   0.945684  0.617799    True

In [61]:
# 1.1 정규성 O
pg.ttest(data['after'], data['before'], paired=True, alternative='greater')
# pval이 0.05보다 작으므로 귀무가설을 기각한다. after, bofore 간의 차이는 통계적으로 유의하며 after는 before보다 커졌다.

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,4.743416,9,greater,0.000527,"[0.61, inf]",0.521443,78.226,0.45191

In [63]:
# 1.2 정규성 X
pg.wilcoxon(data['after'], data['before'], alternative='greater')
# pval이 0.05보다 작으므로 귀무가설을 기각한다. after, bofore 간의 차이는 통계적으로 유의하며 after는 before보다 커졌다.

C:\Users\신주현\AppData\Roaming\Python\Python37\site-packages\scipy\stats\morestats.py:3141: UserWarning: Exact p-value calculation does not work if there are ties. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "
C:\Users\신주현\AppData\Roaming\Python\Python37\site-packages\scipy\stats\morestats.py:3155: UserWarning: Sample size too small for normal approximation.
  warnings.warn("Sample size too small for normal approximation.")

          W-val alternative     p-val  RBC  CLES
Wilcoxon   36.0     greater  0.005139  1.0  0.64

In [ ]:
# C 독립표본 t-test
# a)두개의 독립된 모집단의 평균을 비교할 때 사용한다.
# b)그러므로 모집단, 모수, 표본이 모두 두개씩 존재한다. (등분산성 가정을 해주어야 함)
# c)가정
#  - 두 모집단은 정규성을 만족해야 한다.
#  - 두 모집단의 분산이 서로 같아야 한다.(등분산성 가정)

In [ ]:
# 1. 정규성 검정
import pandas as pd
import pingouin as pg
pg.normality(x)

# 2. 등분산성
pg.homoscedasticity(dv = 'score', group = 'Sex', data = df)

# 2.1 정규성 O 등분산성 O
pg.ttest(x, y)

# 2.2 정규성 O 등분산성 X / Welch t-test
pg.ttest(x, y)

# 2.3 정규성 X
pg.wilcoxon(x, y, alternative='two-sided')

In [29]:
df = pd.read_csv('C:/adp/data/cats.csv')
female = df.loc[df.Sex == 'F', 'Bwt']
male = df.loc[df.Sex == 'M', 'Bwt']

In [30]:
# 1. 정규성 검정
import pandas as pd
import pingouin as pg
print(pg.normality(female))
print(pg.normality(male))
# female은 pval 0.000375로 0.05보다 작아서 정규분포를 이루지 않는다.
# male은 pval 0.118957로 0.05보다 커서 정규분포를 따른다.

            W      pval  normal
Bwt  0.890961  0.000375   False
            W      pval  normal
Bwt  0.978832  0.118957    True

In [31]:
# 2. 등분산성
pg.homoscedasticity(dv = 'Bwt', group = 'Sex', data = df)
# pval 0.00002로 유의수준 0.05하에서 모든 집단의 분산은 같지 않다.

                W     pval  equal_var
levene  19.431012  0.00002      False

In [32]:
# 2.1 정규성 O 등분산성 O
pg.ttest(male, female)
# p-val 8.831034e-15로 유의수준 0.05보다 작으므로 귀무가설을 기가한다.
# 즉, 남자와 여자의 몸구게 차이는 존재한다.

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,8.709488,136.837883,two-sided,8.831034e-15,"[0.42, 0.66]",1.302837,6.959e+11,1.0

In [33]:
# 2.2 정규성 O 등분산성 X / Welch t-test
pg.ttest(male, female)
# pg.ttest(df[df['group'] == 'Deagu']['height'], df[df['group'] == 'Seoul']['height'], correction=True)
# p-val 8.831034e-15로 유의수준 0.05보다 작으므로 귀무가설을 기각한다. 즉, 남자와 여자의 몸구게 차이는 존재한다.

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,8.709488,136.837883,two-sided,8.831034e-15,"[0.42, 0.66]",1.302837,6.959e+11,1.0

In [34]:
# 2.2 정규성 O 등분산성 X / Welch t-test
pg.ttest(male, female, correction=False)
# p-val 8.831034e-15로 유의수준 0.05보다 작으므로 귀무가설을 기각한다. 즉, 남자와 여자의 몸구게 차이는 존재한다.

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,7.330667,142,two-sided,1.590445e-11,"[0.39, 0.69]",1.302837,4.365e+08,1.0

In [99]:
# 2.3 정규성 X
pg.wilcoxon(male[1:40], female[1:40], alternative='two-sided') # data size가 동일할때만 가능
# pval이 0.05보다 작으므로 귀무가설을 기각한다. 즉, 남자와 여자의 몸구게 차이는 존재한다.

          W-val alternative         p-val  RBC     CLES
Wilcoxon    0.0   two-sided  9.358939e-08  1.0  0.74622