In [ ]:
# 통계데이터분석 - 일표본 평균검정
# https://www.youtube.com/watch?v=Nl_L87p_-IY&list=PLY0OaF78qqGAxKX91WuRigHpwBU0C2SB_&index=8

In [ ]:
# ㅁ 일표본 평균검정
#  - 하나의 표본 데이터를 이용하여 모집단의 평균이 특정 값과 같은지 검정
#  - 표분집단이 특정 모집단과 일치하는지 혹은 그렇지 않은지 알고 싶을때 이용

In [5]:
import pandas as pd
import numpy as np

df01 = pd.read_csv('C:/adp/data/cats.csv')
df01.tail()

    Sex  Bwt   Hwt
139   M  3.7  11.0
140   M  3.8  14.8
141   M  3.8  16.8
142   M  3.9  14.4
143   M  3.9  20.5

In [20]:
import scipy.stats as stats
from scipy.stats import shapiro
mu = 2.6
stats.ttest_1samp(df01.Bwt, popmean=mu)
# 대립가설 : 모집단의 평균이 2.6이 아니다.
# pvalue=0.0026으로 0.05보다 작아서 모집단의 평균이 2.6이 아니다고 볼 수 있다.

Ttest_1sampResult(statistic=3.0564867998078107, pvalue=0.0026730362561723617)

In [23]:
# 신뢰구간
from scipy.stats import norm,sem

# 평균, 표준편차, 표본수
sample_mean = np.mean(df01.Bwt)
sample_std = np.std(df01.Bwt)
size = len(df01.Bwt)

# z통계량
z_95_left = norm(0, 1).ppf(0.025) # 누적 분포가 2.5인 x값
z_95_right = norm(0, 1).ppf(0.975) # 누적 분포가 2.5인 x값

L = sample_mean + z_95_left*(sample_std/np.sqrt(size))
R = sample_mean + z_95_right*(sample_std/np.sqrt(size))
print(L,R)

2.6446215229671015 2.8026006992551213

In [33]:
## 30경기, 18승일때 승률이 50% 이상여부
df02 = [1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1,0,0,0,0]
stats.ttest_1samp(df02, popmean=0.5, alternative = 'greater')

Ttest_1sampResult(statistic=1.0992421631894096, pvalue=0.1403523238232774)