In [ ]:
# 평균검정 - 독립표본 평균검정
# https://www.youtube.com/watch?v=VygXXzQDLPM&list=PLY0OaF78qqGAxKX91WuRigHpwBU0C2SB_&index=9

In [ ]:
# ㅁ 독립표본 평균검정
#  - 두개의 독립표본 데이터를 이용하여 각각 대응되는 두개의 모집단 평균이 서로 동일한지 검정
#  - 두 집단이 서로 차이가 있는지 검정

In [2]:
import pandas as pd
import numpy as np

df01 = pd.read_csv('C:/adp/data/cats.csv')
df01.tail()

    Sex  Bwt   Hwt
139   M  3.7  11.0
140   M  3.8  14.8
141   M  3.8  16.8
142   M  3.9  14.4
143   M  3.9  20.5

In [18]:
dfm = df01[df01['Sex'] == 'M']['Bwt']
dff = df01[df01['Sex'] == 'F']['Bwt']
dfm

47     2.0
48     2.0
49     2.1
50     2.2
51     2.2
      ...
139    3.7
140    3.8
141    3.8
142    3.9
143    3.9
Name: Bwt, Length: 97, dtype: float64

In [25]:
# dfm.mean()
dff.mean()

2.359574468085107

In [26]:
import scipy.stats as stats
from scipy.stats import shapiro

# stats.ttest_ind(dfm, dff, alternative='greater' )
stats.ttest_ind(dfm, dff, equal_var=False )

# 귀무가설 : 암컷, 수컷 고양이의 몸무게의 차이는 없다.
# 대립가설 : 암컷, 수컷 고양이의 몸무게의 차이가 존재한다.
# pvalue 0.05보다 작아서 암컷, 수컷 고양이의 몸무게 차이는 존재한다고 할 수 있다.

Ttest_indResult(statistic=8.70948849909559, pvalue=8.831034455859356e-15)

In [29]:
#가능한 이것을 사용 
import pingouin as pg

pg.ttest(dfm, dff, correction='auto')

,T,dof,alternative,p-val,CI95%,cohen-d,BF10,power
T-test,8.709488,136.837883,two-sided,8.831034e-15,"[0.42, 0.66]",1.302837,6.959e+11,1.0

In [23]:
# 신뢰구간
from scipy.stats import norm,sem

# 평균, 표준편차, 표본수
sample_mean = np.mean(df01.Bwt)
sample_std = np.std(df01.Bwt)
size = len(df01.Bwt)

# z통계량
z_95_left = norm(0, 1).ppf(0.025) # 누적 분포가 2.5인 x값
z_95_right = norm(0, 1).ppf(0.975) # 누적 분포가 2.5인 x값

L = sample_mean + z_95_left*(sample_std/np.sqrt(size))
R = sample_mean + z_95_right*(sample_std/np.sqrt(size))
print(L,R)

2.6446215229671015 2.8026006992551213

In [33]:
## 30경기, 18승일때 승률이 50% 이상여부
df02 = [1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1,0,0,0,0,1,1,1,1,1,1,0,0,0,0]
stats.ttest_1samp(df02, popmean=0.5, alternative = 'greater')

Ttest_1sampResult(statistic=1.0992421631894096, pvalue=0.1403523238232774)