
<b>[예제]</b>

boston 데이터로  LinearRegression을 사용하여 선형 회귀분석을 실시한 후, 추정된 회귀모형에 대해 해석하라

In [ ]:
# !pip install mglearn
# !pip install numpy

In [1]:
import pandas as pd 
import numpy as np 
# import mglearn
# X,y = mglearn.datasets.load_extended_boston()

In [23]:
data = pd.read_csv('C:/adp/data/kc_house_data.csv')
data.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,standard,0,3,8,1530,0,2009,0,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,standard,0,3,8,2310,0,2014,0,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,standard,0,3,7,1020,0,2009,0,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,standard,0,3,8,1600,0,2004,0,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,standard,0,3,7,1020,0,2008,0,1020,1357

In [49]:
y = pd.DataFrame(data["price"])
y

          price
0      221900.0
1      538000.0
2      180000.0
3      604000.0
4      510000.0
...         ...
21608  360000.0
21609  400000.0
21610  402101.0
21611  400000.0
21612  325000.0

[21613 rows x 1 columns]

In [50]:
X = data[["bathrooms", "sqft_living", "sqft_lot", "grade", "sqft_above"]]
# y = data["bathrooms", "sqft_living", "sqft_lot", "grade", "sqft_above"]
X

       bathrooms  sqft_living  sqft_lot  grade  sqft_above
0           1.00         1180      5650      7        1180
1           2.25         2570      7242      7        2170
2           1.00          770     10000      6         770
3           3.00         1960      5000      7        1050
4           2.00         1680      8080      8        1680
...          ...          ...       ...    ...         ...
21608       2.50         1530      1131      8        1530
21609       2.50         2310      5813      8        2310
21610       0.75         1020      1350      7        1020
21611       2.50         1600      2388      8        1600
21612       0.75         1020      1076      7        1020

[21613 rows x 5 columns]

In [51]:
# from patsy import dmatrices
# ols_str = 'price ~ bathrooms + sqft_living + sqft_lot + grade + sqft_above'

# y,X = dmatrices(ols_str,
#                 data = data, return_type = "dataframe")

In [52]:
print(X.shape)
print(y.shape)

(21613, 5)
(21613, 1)

In [53]:
# 훈련, 테스트 셋 분리 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [54]:
print(X_train.shape)
print(y_train.shape)

(15129, 5)
(15129, 1)

In [55]:
y_train

           price
1468    400000.0
15590   430000.0
18552   720000.0
10535   392500.0
1069    505000.0
...          ...
13123  1180000.0
19648   299000.0
9845    431000.0
10799   411000.0
2732    699900.0

[15129 rows x 1 columns]

In [56]:
# pip install sklearn

In [57]:
#pip install sklearn
from sklearn.linear_model import LinearRegression
lr = LinearRegression() # 회귀모델 생성
lr.fit(X_train, y_train) # 회귀모델 학습

LinearRegression()

In [58]:
# 기울기와 절편은 따로 호출하여 확인할 수 있다
print('기울기 :', lr.coef_)
print('절편 :', lr.intercept_)

기울기 : [[-3.91956993e+04  2.55603107e+02 -1.50748155e-01  1.13909273e+05
  -7.86261732e+01]]
절편 : [-636836.4453946]

In [59]:
# 추정된 값을 보기 위해서는 모델.predict(x)를 출력한다

y_pred= lr.predict(X_test)
y_pred

array([[ 354563.19708951],
       [1421356.90674167],
       [ 404290.98877396],
       ...,
       [ 325255.3703565 ],
       [ 391967.59803947],
       [ 353549.5562791 ]])

In [60]:
# 잔차를 확인하는 방법 : y값과 추정값의 차를 계산

resid= y_test - y_pred
resid

               price
17384  -57563.197090
722    156643.093258
2680   157809.011226
18754  196672.001154
14554  -71696.777813
...              ...
18588  715129.190092
6784   106386.666654
14510   54744.629643
18917 -123967.598039
11750 -147549.556279

[6484 rows x 1 columns]

In [61]:
## R2 
print("훈련 데이터 셋 성능 : ", lr.score(X_train,y_train))
print("테스트 데이터 셋 성능 : ", lr.score(X_test,y_test))

훈련 데이터 셋 성능 :  0.5456690455573081
테스트 데이터 셋 성능 :  0.5401428897446733

In [62]:
#mse 
(resid**2).sum()/len(y_test)

price    6.313468e+10
dtype: float64

In [63]:
## rmse 
np.sqrt((resid**2).sum()/len(y_test))

price    251266.15399
dtype: float64

In [64]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_pred)
rmse = np.sqrt(mse)

print(mse)
print(rmse)

63134680140.985214
251266.15399011705

- R2 값이 훈련데이터에 비해 테스트 데이터셋이 더 작으므로 과대적합임을 알 수 있다.  
- R2 값이 0.648은 좋은 성능은 아니다. 
- 모델의 성능을 높이려면, 과대적합을 조정해주어야 함

In [65]:
X_train

       bathrooms  sqft_living  sqft_lot  grade  sqft_above
1468        1.50         1390      7200      7        1140
15590       1.50         1450      7316      7        1450
18552       2.75         2860      5379      9        2860
10535       1.00         1050      4125      7        1050
1069        1.00         1240     57000      7        1240
...          ...          ...       ...    ...         ...
13123       5.00         3960     94089     10        3960
19648       2.50         1400      1262      8        1160
9845        2.25         2360     14950      9        2360
10799       2.00         2370     76665      8        2370
2732        2.25         2380     16236      7        1540

[15129 rows x 5 columns]

In [66]:
### 다중공선성의 문제 있을 수 있다. 

from statsmodels.stats.outliers_influence import variance_inflation_factor

vif_list = []
for i in range(X_train.shape[1]): 
    vif_list.append([variance_inflation_factor(X_train,i)])
vif_list

[[20.677525452873937],
 [32.77810757366404],
 [1.1775032941248218],
 [15.814554988165984],
 [25.373603304674894]]

In [67]:
vif_dt = pd.DataFrame(vif_list,columns=['vif'])

In [68]:
vif_dt[vif_dt['vif']<10]

        vif
2  1.177503