# 통계분석 과제 
## df_Xtrain= pd.read_csv('X_train.csv',encoding = 'cp949')
## 1 . X_train 데이터에서 강남점과 일산점의 총구매액 평균의 차이를 검정하세요 (정규성은 만족한다고 가정)

In [4]:
import pandas as pd 
df_Xtrain= pd.read_csv('C:/adp/data/X_train.csv', encoding = 'cp949')
df_Xtrain.tail()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
3495,3495,3175200,3042900,NaN,골프,본 점,1,2.000000,1.000000,0
3496,3496,29628600,7200000,6049600.0,시티웨어,부산본점,8,1.625000,0.461538,40
3497,3497,75000,75000,NaN,주방용품,창원점,1,1.000000,0.000000,0
3498,3498,1875000,1000000,NaN,화장품,본 점,2,1.000000,0.000000,39
3499,3499,263101550,34632000,5973000.0,기타,본 점,38,2.421053,0.467391,8

In [8]:
df_Xtrain.주구매지점.value_counts()

본  점     1077
잠실점       474
분당점       436
부산본점      245
영등포점      241
일산점       198
강남점       145
광주점       114
노원점        90
청량리점       86
대전점        70
미아점        69
부평점        57
동래점        49
관악점        46
인천점        34
안양점        29
포항점        11
대구점         7
센텀시티점       6
울산점         6
전주점         5
창원점         4
상인점         1
Name: 주구매지점, dtype: int64

In [14]:
import scipy.stats as stats
# 등분산성 검정
ga = df_Xtrain.loc[df_Xtrain.주구매지점 == '강남점', '총구매액']
il = df_Xtrain.loc[df_Xtrain.주구매지점 == '일산점', '총구매액']
stats.levene(ga, il)
## h0 : 등분성을 만족한다. 
## h1 : 등분성을 만족하지 않는다. 
# 검정 결과: h0 채택 (등분산성 만족)

LeveneResult(statistic=4.984728737913695, pvalue=0.02622071970102609)

In [16]:
stats.ttest_ind(ga, il, equal_var = True)
## h0 : 총구매액 차이가 있다.
## h1 : 총구매액 동일하다.
# 검정 결과: h0 채택 . 총구매액 동일

Ttest_indResult(statistic=-2.1388284376968967, pvalue=0.03315953155524394)

In [18]:
print('강남점 : ', ga.mean() )
print('일산점 : ', il.mean() )

강남점 :  70007904.68965517
일산점 :  108203183.8888889