# 4.1.3.2 적합성검정 !

In [ ]:
# 실험에서 얻어진 관측값들이 예상한 이론과 일치하는지 아닌지를 검정하는 방법
# 관측값들이 어떠한 이론적 분포를 따르고 있는지 관찰할 수 있음
# 모집단 분포에 대한 가정이 옳게 돼었는지 관측자료와 비교하여 검정
# 검정 통계량
# - 카이제곱 통계량 값이 큰 경우 : 관찰도수와 기대도수의 차이가 크고 적합도가 낮음(일차한다고 볼 수 없음)
# - 카이제곱 통계량 값이 작은 경우 : 관찰도수와 기대도수의 차이가 작고 적합도가 높음(일차한다고 볼 수 있음)

In [2]:
import pandas as pd
# 데이터 불러오기
df_t = pd.read_csv("C:/Users/A202112006/Desktop/py/data/titanic.csv")
df_t.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town
886,0,2,male,27.0,0,0,13.00,S,Second,True,Southampton
887,1,1,female,19.0,0,0,30.00,S,First,False,Southampton
888,0,3,female,NaN,1,2,23.45,S,Third,False,Southampton
889,1,1,male,26.0,0,0,30.00,C,First,True,Cherbourg
890,0,3,male,32.0,0,0,7.75,Q,Third,True,Queenstown

In [3]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   adult_male   891 non-null    bool
 10  embark_town  889 non-null    object
dtypes: bool(1), float64(2), int64(4), object(4)
memory usage: 70.6+ KB

In [19]:
table = df_t.sex.value_counts()
table

male      577
female    314
Name: sex, dtype: int64

In [18]:
len(df_t['sex'])/2

445.5

In [ ]:
# pip install scipy

In [15]:
from scipy.stats import chisquare

In [20]:
# 적합도 검정 수행
from scipy.stats import chisquare
chi = chisquare(table, f_exp =[445.5, 445.5])
print('적합도 검정 :|n', chi)
# P-value가 0.0 이므로 유의수준 0.05보다 작으므로 귀무가설을 기각하고 대립가설을 지지함.
# 50%:50%가 아님

적합도 검정 :|n Power_divergenceResult(statistic=77.63075196408529, pvalue=1.2422095313910336e-18)

In [ ]:
## 4.1.3.3 독립성 검정
# - 모집단이 두 개의 변수 A,B에 의해 범주화되었을 때, 이 두 변수들 사이의 관계가 독립인지 아닌지 검정하는 것
# 교차표를 활용함

'2.8.0'

In [ ]:
## 예제
# titanic 데이터에서 좌석등급(class)와 생존 여부(survived)가 서로 독립인지 확인하기 위해 분할표를 생성하고
# 아래 가설에 대한 독립성 검정을 수행하라.
# - 귀무가설 : class와 survived는 독립이다. 
# - 귀무가설 : class와 survived는 독립이 아니다.

In [22]:
# 변수 분할표 생성
table = pd.crosstab(df_t['class'], df_t['survived'])
table

survived    0    1
class
First      80  136
Second     97   87
Third     372  119

In [23]:
# 카이제곱 검정을 통한 독립성 검정 수행
from scipy.stats import chi2_contingency
chi, p, df, expect = chi2_contingency(table)

print('Statistic', chi)
print('P-value', p)
print('df', df) # 자유도 (nrow-1) * (ncol-1)
print('expect', expect)

# P-value가 유의수준 0.05보다 작으므로 귀무가설을 기각
# 좌석 등급과 생존은 독립이 아니라고 할 수 있다.

Statistic 102.88898875696056
P-value 4.549251711298793e-23
df 2
expect [[133.09090909  82.90909091]
 [113.37373737  70.62626263]
 [302.53535354 188.46464646]]

In [ ]:
## 4.1.3.4 동질성 검정
# 모집단이 임의의 변수에 따라 R대의 속성으로 범주화되었을 때,
# R개의 부분 모집단에서 추출한 표본이 C개의 범주화된 집단의 분포가 서로 동일한지 검정
# 교차표를 활용하여 계산법과 검증법은 모두 독립성 검정과 같은 방법으로 진행됨.

# 귀무가설 : TV프로그램의 선호도는 성별에 관계없이 동일하다.
# 대립가설 : TV프로그램의 선호도는 성별에 관계없이 동일하지 않다.

# 귀무가설 : class 분포는 survived에 관계없이 동일하다.
# 대립가설 : class 분포는 survived에 관계없이 동일하지 않다.

In [ ]:
chi, p, df, expect = chi2_contingency(table)