<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#아래의-데이터를--8:2로-나누세요" data-toc-modified-id="아래의-데이터를--8:2로-나누세요-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>아래의 데이터를  8:2로 나누세요</a></span></li><li><span><a href="#Training-data-set을-가지고-SARIMA-모델의-최적의-매개변수를-구하고-test-set을-예측해보세요" data-toc-modified-id="Training-data-set을-가지고-SARIMA-모델의-최적의-매개변수를-구하고-test-set을-예측해보세요-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Training data set을 가지고 SARIMA 모델의 최적의 매개변수를 구하고 test set을 예측해보세요</a></span></li><li><span><a href="#모델을-가지고-정확도와-데이터의-특징을-해석해보세요." data-toc-modified-id="모델을-가지고-정확도와-데이터의-특징을-해석해보세요.-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>모델을 가지고 정확도와 데이터의 특징을 해석해보세요.</a></span></li></ul></div>

# 아래의 데이터를  8:2로 나누세요 
# Training data set을 가지고 SARIMA 모델의 최적의 매개변수를 구하고 test set을 예측해보세요 
# 모델을 가지고 정확도와 데이터의 특징을 해석해보세요.

In [1]:
import pandas as pd 
df = pd.read_csv('../data/sarima_data.csv')

In [2]:
df

           date  sales
0    1964-01-01   2815
1    1964-02-01   2672
2    1964-03-01   2755
3    1964-04-01   2721
4    1964-05-01   2946
..          ...    ...
100  1972-05-01   4618
101  1972-06-01   5312
102  1972-07-01   4298
103  1972-08-01   1413
104  1972-09-01   5877

[105 rows x 2 columns]